.question, .results, .start {
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid;
    border-radius: 2px;
    margin: 2px;
    padding: 5px;
}

.questions button{
    margin: auto 3px;
}

.wrong{
    background: red;
}

.correct{
    background: green;
}

#yesno{
    border: 1px solid;
}

#chat{
    border: 1px solid;
}

h1{
    font-family: sans-serif;
    font-size: 1.5em;
}

button{
    margin-right: 1px;
}

.editButtons{
    margin: 3px 3px;
}